@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.react-flow__handle-right {
  right: -9px !important;
  width: 13px !important;
  height: 13px !important;
  background-color: #6563e4 !important;
}

.react-flow__handle-left {
  left: -9px !important;
  width: 13px !important;
  height: 13px !important;
  background-color: #6563e4 !important;
}